body{
    background-color: darkgrey;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
}

input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}